<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g fill="none">
            <path fill="#66e1ff" d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1S1 5.925 1 12s4.925 11 11 11" />
            <path fill="#c2f3ff" d="M4.222 19.778A11 11 0 1 1 19.778 4.222z" />
            <path fill="#e3e3e3"
              d="M14.641 16.715a4.19 4.19 0 0 0 3.93-5.81a4.19 4.19 0 0 0-3.93-2.572a2.155 2.155 0 0 0-2.164 2.095v4.191a2.155 2.155 0 0 0 2.164 2.096" />
            <path stroke="#191919" stroke-linecap="round" stroke-linejoin="round"
              d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1S1 5.925 1 12s4.925 11 11 11" stroke-width="1" />
            <path stroke="#191919" stroke-linecap="round" stroke-linejoin="round"
              d="M14.641 16.715a4.19 4.19 0 0 0 3.93-5.81a4.19 4.19 0 0 0-3.93-2.572a2.155 2.155 0 0 0-2.164 2.095v4.191a2.155 2.155 0 0 0 2.164 2.096m-4.047-4.236H5.782m4.783-2.87H5.782m4.812 5.739H5.782"
              stroke-width="1" />
          </g>
        </svg>
        Por Capital
        <span class="badge badge-xs">99+</span>
      </a>
    </li>
    <li>
      <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 30 30" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Por país
        <span class="badge badge-xs badge-warning">NEW</span>
      </a>
    </li>
    <li>
      <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
        Por región
        <span class="badge badge-xs badge-info"></span>
      </a>
    </li>
  </ul>
</nav>
